@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,700&display=swap');


body{
    margin: 0;
    padding: 0;
    

}
h1, h3{
    font-family: 'Jost', sans-serif;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}
.cabezal{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    margin-top: 10px;
    width: 90%;
    height: 65px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 1px 1px 2px #0a0a0a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    z-index: 1000;
    
}
.logo{
    width: 70px;
    height: 20px;
}
.iconos{
    display: flex;
    flex-direction: row;
    gap: 30px;

}
.iconos a{
    width: 20px;
    height: 20px;
}
.iconos img{
    width: 100%;
    height: 100%;
}

.iconos img:hover{
    transform: scale(1.1);
}

main{
    width: 100vw;
    height: 4000px;
}
.parte-1{
    width: 100%;
    height: 100vh;
    background-image: url(./bg-inicio.png);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    box-sizing: border-box;
   
}

.parte-1 h1{
    margin: 0;
    color: white;
    font-size: 70px;
    text-align: center;
    font-weight: bold;
}
.animacion{
    margin-top: 5%;
    width: 70%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;



}
.p1, .p2{
    width: 1vw;
    height: 10vh;
    background-color: white;
    
    animation-name: p-mov;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes p-mov{
    0%{
        
    }
    12.5%{
        transform: translate(0);

    }

    25%{
        transform: translate(0);    

    }
    37.5%{
        transform: translateY(-8vh);
    }
    50%{
        transform: translateY(-8vh);
    }
    62.5%{
        transform: translateY(16vh);
    }
    75%{
        transform: translateY(16vh);
    }
    87.5%{
        transform: translateY(0vh);
    }
    100%{
        transform: translateY(0vh);
    }
}



.bolita{
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background-color: white;

    animation-name: b-mov;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes b-mov{
    0%{
        
    }
    12.5%{
        transform: translateX(33vw) translateY(0vh);
    }
    25%{
        transform: translateX(0vw) translateY(-4vh);
    }
    37.5%{
        transform: translateX(-33vw) translateY(-8vh);
    }
    50%{
        transform: translateX(0vw) translateY(4vh);
    }
    62.5%{
        transform: translateX(33vw) translateY(16vh);
    }
    75%{
        transform: translateX(0vh) translateY(8vh);
    }
    87.5%{
        transform: translateX(-33vw) translateY(0vh);
    }
    100%{
        transform: translateX(0vw) translateY(0vh);
    }
}
.parte-2{
    width: 100%;
    height: 760px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.parte-2 h1{
    margin-top: 0.8%;
    margin-bottom: 0px;
    font-size: 4vw;
    color: black;
    font-weight: bold;
}
.cont-juegos{
    height: 22%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.cont-juegos a{
    width: 40vw;
    height: 100%;
}
.cont-juegos img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    filter: drop-shadow(2px 4px 0px rgba(128, 128, 128, 0.39) );
}
.cont-juegos img:hover{
    outline: 2px solid #0a0a0a;
}
.parte-3{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom right,#0a0a0a, rgb(36, 36, 36));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

 
}


.descarga{
    width: 50%;
    height: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content:space-evenly;
    gap: 5px;
    align-items: center;
}
.descarga p{
    text-align: center;
}
.descarga h1{
    font-size: 50px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
.descarga a{
    width: 45%;
    height: 15%;
}
.descarga img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
}
.descarga img:hover{

    outline: 2px solid black;
}
.parte-4{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.carrusel{
    width: 75%;
    height: 75%;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.carrusel ul{
    display: flex;
    padding: 0;
    width: 400%;
    height: 100%;
    
    animation-name: deslice;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;


}

.carrusel li{
    list-style: none;
    width: 100%;
    height: 100%;
  
}

.carrusel img{
    object-fit: fill;
    height: 100%;
    width: 100%;
   
    
}

@keyframes deslice{
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    95%{margin-left: -300%;}
}

footer{
    width: 100%;
    height: 85vh;
    background-color: #0a0a0a;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cont-email{
    margin-left: 40px;
    width: 40%;
    height: 70%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    border-radius: 0px 0px 10px 10px;
}

.cont-email h1{
    margin: 0;
}
.cont-email input::placeholder, .input-grande::placeholder{
    color: rgba(0, 0, 0, 0.767);
    font-family: 'Jost', sans-serif;
}

.input-grande::placeholder{
    position: absolute;
    top: 2;
    left: 2;
}

.cont-email input{
    background-color: rgb(199, 199, 199);
    width: 90%;
    height: 30px;
    border: none;
    border-radius: 10px
}
form{
    width: 90%;

}
.input-grande{
    background-color: rgb(199, 199, 199);
    width: 100%;
    height: 100px;
    border: none;
    border-radius: 10px;
    overflow-wrap: break-word;
    overflow: hidden;
    resize: none;
 
}

.cont-email button{
    border: none;
    background-color: rgb(148, 148, 148);
    width: 100px;
    height: 40px;
    border-radius: 10px;
}

.cont-email button:hover{
    background-color: rgb(133, 133, 133) ;

}


.info{
    display: flex;
    flex-direction: row;
    color: white;
    gap: 10%;
    justify-content:center;
    align-items: end;
}

